body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 21px;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    /*background-color: #f3f3f3;*/
    background-color: #ffffff;
}

.position-absolute {
    position: absolute;
}

.btn-aside-toggle {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    margin-left: 15px;
}

.row {
    margin: 0;
}

.btn-aside-toggle:focus {
    outline: none;
}

.icon-toggle {
    width: 25px;
    height: 2px;
    display: inline-block;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.icon-toggle::before {
    top: -6px;
    content: "";
    width: 25px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
}

.icon-toggle::after {
    top: 6px;
    content: "";
    width: 25px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
}

.header {
    background: #2b2b2b;
}

.main-header {
    display: none;
    border-bottom: 1px solid #313131;
}

.bg-sushi-dark {
    background: #2b2b2b;
}

.navbar-min-hg {
    color: #cccccc;
    font-size: 12px;
    padding: 0;
    line-height: 15px;
    background: #2b2b2b;
}

.navbar-min-hg .navbar-toggler {
    padding: 0 12px;
    cursor: pointer;
    border: none;
}

.navbar-min-hg .navbar-toggler:focus {
    outline: none;
}

.navbar-min-hg .navbar-toggler .navbar-toggler-icon {
    width: 21px;
    height: 30px;
}

.navbar-min-hg .navbar-toggler.collapsed .navbar-toggler-icon {
    background: url(images/main-menu-toogle.png) 0 no-repeat;
}

.navbar-min-hg .navbar-toggler.collapsed:hover .navbar-toggler-icon,
.navbar-min-hg .navbar-toggler .navbar-toggler-icon {
    background: url(images/main-menu-toogle.png) -21px no-repeat;
}

.navbar-min-hg .nav-link {
    color: #cccccc;
    text-decoration: none;
}

.navbar-min-hg .nav-item.active .nav-link {
    color: #ffa800;
}

.navbar-min-hg .nav-item .nav-link:hover {
    color: #ffa800;
    background: #1e1e1e;
}

.sub-header {
    height: 74px;
    white-space: nowrap;
}

.logo {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    line-height: 74px;
    padding-left: 0px;
}

.logo img {
    width: 200px;
    max-height: 102px;
    vertical-align: middle;
}

.header-tools {
    display: none;
}

.download-options {
    display: none;
}

.header-tools .option {
    display: inline-block;
    padding: 0 12px;
}

.option .img-wrap {
    text-decoration: none;
    vertical-align: middle;
}

.option .option-info {
    display: none;
}

.option .download-from {
    display: block;
    color: #ffffff;
    font-size: 13px;
}

.option-info .name {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #ff9601;
}

.search-options {
    display: none;
}

.search-options .btn-search {
    display: inline-block;
    width: 35px;
    height: 40px;
    background: url(images/search.png) 0 no-repeat;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.search-options .btn-search:focus {
    outline: none;
}

.search-options .bth-search:active {
    background: url(images/search.png) 0 -1px no-repeat;
}

.min-options {
    display: inline-block;
    float: right;
    height: 74px;
    line-height: 74px;
}

.icon-min-bag {
    background: url(images/cart-min.png) 0 no-repeat;
    width: 32px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin-right: 12px;
}

.min-options .products-total-price {
    /*display: none;*/
    color: #ff8400;
    /*font-size: 22px;*/
    font-weight: 500;
    vertical-align: middle;
    /*margin-left: 10px;*/
}

.cart-options {
    padding-left: 12px;
}

.cart-options .option {
    display: none;
}

.cart-options .option-info .name {
    color: #ffffff;
}

.cart-options .icon {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 45px;
}

.icon-bags {
    background: url(images/bugs.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icon-min-bags {
    background: url(images/bugs.png) 0 no-repeat;
}

.icon-favourite {
    background-image: url(images/favourite.png);
    background-repeat: no-repeat;
    background-position: 4px 0;
}

.option.active .icon-bags,
.option.active .icon-favourite {
    background-position: -45px 0;
}

.option.active .icon-bags:hover,
.option.active .icon-favourite:hover {
    background-position: -90px 0;
}

.option .option-link {
    text-decoration: none;
    color: #ff9601;
    font-size: 13px;
}

.product-count {
    display: inline-block;
    color: #ffa800;
    text-align: center;
    font-size: 13px;
}

/*main*/

.main {
    padding-top: 23px;
}

.left-menu {
    display: none;
}

.left-menu.special {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-left: 14px;
    padding-right: 28px;
    left: 0;
    padding-bottom: 10px;
}

.no-pad {
    padding: 0;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.bootstrap-vertical-nav {
    position: relative;
}

.bootstrap-vertical-nav .collapse {
    width: 100%;
    background: #2b2b2b;
}

.vertical-nav-heading {
    display: block;
    background: #ff9601;
}

.vertical-nav-heading .heading {
    padding: 22px 24px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: block;
}

.heading span {
    vertical-align: middle;
}

.heading .btn-toogle {
    background: url(images/ic-toogle-menu.png) 0 no-repeat;
    width: 27px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}

.nav-list {
    padding: 10px 0;
    background: #2b2b2b
}

.nav-item .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.nav-item:hover .nav-link {
    background: #ffffff;
    color: #000000;
}

.nav-item .nav-link .icon {
    margin-right: 18px;
}

.filters {
    margin-top: 24px;
}

.filters-card .card-header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
}

.filters-card .card-header.collapsed {
    border-bottom: none;
}

.filters-card .card-block {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 24px;
    font-size: 14px;
    line-height: 20px;
}

.filters-card .card-title {
    display: block;
    margin-bottom: 0;
}

.filters-card .card-toggle {
    cursor: pointer;
}

.filters-card .card-toggle.collapsed::after {
    transform: rotate(0);
}

.filters-card .card-toggle::after {
    display: inline-block;
    content: "";
    height: 15px;
    vertical-align: middle;
    width: 15px;
    transform: rotate(90deg);
    background: url(images/expander.png) 50% no-repeat
}

.filter-checkbox-list {
    margin-top: 24px;
}

.filter-checkbox-list .form-check-input {
    visibility: hidden;
}

.filter-checkbox-list .form-check-label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.filter-checkbox-list .form-check-label::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    top: 0px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
}

.filter-checkbox-list .form-check-label::after {
    content: "•";
    color: #888888;
    vertical-align: middle;
    display: inline-block;
    font-family: arial;
    font-size: 26px;
    line-height: 8px;
    padding: 4px;
    position: absolute;
    left: 0;
    opacity: 0;
}

.filter-checkbox-list .form-check-label:hover::after {
    opacity: 0.3;
}

.filter-checkbox-list .form-check-input:checked + .form-check-label::after {
    opacity: 1;
}

.range-inputs {
    margin-top: 24px;
}

.range-inputs .input-label {
    margin-right: 12px;
    margin-bottom: 0;
}

.range-inputs .range-input {
    transition: all 0.2s ease-in-out;
    background: #ffffff;
    border: 1px solid #e7e8ea;
    border-radius: 4px;
    color: #888888;
    width: 68px;
    padding: 3px 8px;
    font-size: 13px;
    margin-right: 12px;
}

.range-inputs .range-input:focus {
    outline: none
}

.range-inputs .range-input::-webkit-outer-spin-button,
.range-inputs .range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filters-card .card-footer {
    border-top: none;
    padding: 0;
}

.filters-actions {
    padding: 24px 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.filters-actions .btn {
    padding: 12px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 300;
    border: none;
    font-size: 13px;
    width: 48%;
    display: inline-block;
}

.filters-actions .btn:focus {
    box-shadow: none;
}

.filters-actions .btn:active {
    position: relative;
    top: 1px;
}

.btn-filters-show {
    background: #ff9601;
}

.btn-filters-show:hover {
    background: #ffa800;
}

.btn-filters-clear {
    background: #2b2b2b;
}

.btn-filters-clear {
    background: #1e1e1e;
}

.slider-mock {
    background: #c4acac;
    height: 257px;
}

.category {
    height: 200px;
    background: #ffffff;
    border: 1px solid #e7e8ea;
    position: relative;
    display: block;
    /* margin-left:-1px; */
    /* margin-top:-1px; */
}

.category .image-wrap {
    height: 180px;
    line-height: 180px;
    text-align: center;
    position: relative;
}

.category .image {
    max-height: 90%;
    max-width: 90%;
    height: auto;
    vertical-align: bottom;
}

.category .title {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #2b2b2b;
    font-size: 22px;
}

.category:hover {
    background: linear-gradient(to bottom, #ffffff 50%, #f9fafc 100%);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #cccccc;
}

.category:active .image-wrap {
    top: 1px;
}

.category:hover {
    opacity: 0.9;
}

.special-catalog {
    display: none;
}

.nav-captions {
    background: #2b2b2b;
}

.nav-captions .nav-item {
    white-space: nowrap;
    overflow: hidden;
}

.nav-captions .nav-item .nav-link {
    border-radius: 0;
    color: #ffffff;
    border-left: 1px solid #313131;
    font-size: 16px;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
}

.nav-captions .nav-item:first-child .nav-link {
    border-left: 0;
}

.nav-captions .nav-item .nav-link.active,
.nav-captions .nav-item .nav-link.active:hover {
    background: #ff9601;
}

.nav-captions .nav-item .nav-link:hover {
    color: #ffffff;
    background: #202020;
}

.breadcrumbs {
    display: none;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    font-size: 12px;
    color: #999999;
    padding: 0;
    margin-bottom: 12px;
}

.breadcrumbs .breadcrumb li {
    padding: 0;
}

.breadcrumbs .breadcrumb li:first-child::before {
    content: "";
    margin: 0;
}

.breadcrumbs .breadcrumb li::before {
    content: "•";
    color: #888888;
    vertical-align: middle;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    margin: 0 12px;
}

.breadcrumbs .breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

.catalog {
    padding-bottom: 95px;
}

.page-title {
    display: none;
}

.catalog-panel {
    display: none;
}

.catalog-panel .form-group {
    margin-left: 12px;
}

.catalog-panel .form-group:first-child {
    margin-left: 0;
}

.catalog-panel .form-group label {
    margin-right: 12px;
    font-size: 14px;
}

.catalog-panel .form-control-sm {
    color: #888888;
    border: transparent;
    font-size: 13px;
}

.layout-select .btn-view-group {
    padding-left: 12px;
}

.layout-select .btn-view {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    background: url(images/catalog-view.png) 0 no-repeat;
    vertical-align: middle;
    text-decoration: none;
}

.layout-select .btn-view:hover {
    cursor: pointer;
}

.layout-select .btn-view.active {
    background-image: url(images/catalog-view.png);
    background-position-x: -60px;
}

.layout-select .icon-view {
    background-position-y: -13px;
}

.layout-select .list-view {
    background-position-y: -68px;
}

.layout-select .table-view {
    background-position-y: -123px;
}

.product-wrap {
    position: relative;
    height: 180px;
}

.product {
    border: 1px solid #e7e8ea;
    position: relative;
    padding: 12px;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.product-wrap:hover .image {
    opacity: 0.9;
}

.product-info {
    position: relative;
    height: 100%;
}

.product-info .image-wrap {
    display: inline-block;
    position: relative;
    float: left;
    height: 180px;
    text-align: right;
}

.image-wrap:active {
    top: 1px;
}

.product-info .image {
    max-height: 90%;
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.fast-show {
    visibility: hidden;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-weight: 300;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 1.3;
    padding: 10px 25px;
    background: #000000;
    border-radius: 2px;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.fast-show:hover {
    opacity: 1;
}

.product-info .title {
    font-size: 23px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 6px 0;
}

.product-info .price {
    font-size: 18px;
    font-weight: bold;
    padding: 3px 0;
}

.product-info .price .unit {
    font-weight: normal;
    font-size: 14px;
}

.product-info .count-select {
    display: inline-block;
    width: 65px;
}

.markers-group {
    display: none;
}

.marker {
    font-size: 12px;
    color: #ffffff;
    display: block;
    padding: 3px 4px;
    margin-bottom: 8px;
    line-height: 16px;
    z-index: 2;
}

.marker-blue {
    background: #007ef2;
}

.marker-orange {
    background: #f97310;
}

.marker-green {
    background: #29bc48;
}

.marker-light-green {
    background: #c8e810;
}

.marker-purple {
    background: #e42c5c;
}

.product-actions {
    display: none;
}

.add-to-cart {
    font-size: 16px;
    margin-bottom: 17px;
    padding: 17px;
    color: #ffffff;
    background: #ff9601;
    width: 100%;
    font-weight: 300;
    cursor: pointer;
}

.in-cart {
    font-size: 16px;
    margin-bottom: 17px;
    padding: 17px;
    color: #ffffff;
    background: black;
    width: 100%;
    font-weight: 300;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #ffa800;
}

.icon-cart {
    display: inline-block;
    height: 16px;
    width: 13px;
    margin-right: 5px;
    background: url(images/incart.png) 0 no-repeat transparent;
}

.icon-continue {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 17px;
    margin-right: 5px;
    background: url(images/continue.png) 0 no-repeat transparent;
}

.icon-show-delete {
    vertical-align: middle;
    display: inline-block;
    height: 16px;
    width: 17px;
    background: url(images/basket-show-delete.png) 0 no-repeat transparent;
}

.add-to-favourites {
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    color: #717171;
}

.add-to-favourites:hover {
    text-decoration: none;
    color: #000000;
}

.icon-heart {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 17px;
    margin-right: 5px;
    background: url(images/heart.png) 0 no-repeat transparent;
}

.product-page-tabs {
    display: none;
}

.product-page-tabs .nav-pills {
    padding: 0 14px;
}

.product-page-tabs .nav-pills .nav-item .nav-link {
    border-radius: 0;
    color: #000000;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 18px;
}

.product-page-tabs .nav-pills .nav-item .nav-link.active {
    background: transparent;
    color: #ff9601;
    position: relative;
}

.product-page-tabs .nav-pills .nav-item .nav-link.active:after {
    background: transparent;
    display: inline-block;
    position: absolute;
    height: 2px;
    border-bottom: 1px dashed #ff9601;
}

.product-page-tabs .nav-pills .nav-item:first-child {
    border-left: 1px solid #e7e8ea;
}

.product-page-tabs .nav-pills .nav-item {
    border-right: 1px solid #e7e8ea;
}

.product-data {
    padding-top: 12px;
}

.product-image-wrap {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.product-image-wrap .image {
    max-width: 90%;
    max-height: 100%;

}

.product-image-wrap .basket-actions {
    display: none;
    position: absolute;
    right: 0;
}

.product-image-wrap .basket-actions .add-to-cart {
    width: 200px;
}

.composition {
    height: 100%;
    position: relative;
    margin: 0 -15px;
}

.product-name {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 30px;
}

.properties-list {
    display: none;
}

.properties-list .heading-wrap {
    display: table;
    table-layout: fixed;
    width: 100%
}

.property-row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.properties-list .heading, .properties-list .all-ingridients-link, .property-row .name, .property-row .value {
    display: table-cell;
    position: relative;
    background: #ffffff;
    padding-left: 5px;
}

.properties-list .all-ingridients-link, .property-row .value {
    width: 40%;
}

.heading-wrap {
    padding-bottom: 12px;
    vertical-align: top;
}

.properties-list .heading {
    font-size: 16px;
}

.properties-list .all-ingridients-link {
    color: #888888;
    font-size: 14px;
    text-decoration: underline;
}

.properties-list .all-ingridients-link:hover {
    color: #000000;
}

.property-row .name::after {
    width: 100%;
    border-bottom: 1px dotted #000000;
    height: 2px;
    margin-left: 5px;
    top: 50%;
    content: '';
    position: absolute;
}

.sale-tool {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.sale-price {
    font-size: 40px;
    display: inline-block;
    font-weight: 400;
    padding-bottom: 12px;
}

.sale-price .unit {
    font-size: 20px;
}

.sale-tool .sale-group {
    display: inline-block;
    padding-bottom: 12px;
}

.sale-tool .sale-select {
    display: inline-block;
    width: 100px;
}

.basket-tools {
    display: none;
    background: #f3f3f3f3;
}

.basket-tools .basket-actions {
    height: 100%;
    padding: 24px;
}

.basket-tools .basket-actions .price {
    font-size: 21px;
    font-weight: bold;
    margin: 12px 0;
    display: block;
    padding: 0;
}

/*add to basket-tools when onscroll*/
.fixed-tools {
    position: relative;
}

.basket-tools.fixed-tools .basket-actions {
    position: fixed;
    top: 0;
}

.product-detail .heading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 36px 0;
    margin-bottom: 0;
    border-top: 1px solid #efefef;
}

.description-block .heading {
    display: none;
}

.ingridients-block {
    display: none;
}

.ingridients-block .heading {
    padding: 24px 0px 12px 0;
}

.all-ingridients {
    border: 1px solid #d3d3d3;
    table-layout: fixed;
    border-collapse: collapse;
    margin-right: 12px;
}

.all-ingridients caption {
    caption-side: top;
    color: #000000;
    font-size: 18px;
    padding: 12px 0;
}

.all-ingridients td {
    padding: 6px;
}

.all-ingridients .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 35%;
}

.similar-dishes {
    display: none;
}

.similar-dishes .round-pagination {
    margin: 30px 0;
}

.similar-dishes .product-info .image {
    width: 70% !important;
}

.round-pagination .page-item:first-child .page-link,
.round-pagination .page-item:last-child .page-link {
    border-radius: 20px;
    border: 2px solid #eff0f1;
    background: #ffffff;
    padding-top: 6px;
}

.round-pagination .page-item:first-child .page-link:hover,
.round-pagination .page-item:last-child .page-link:hover {
    background: #ffffff;
    border-color: #dadada;
}

.round-pagination .page-item .page-link {
    border-radius: 50%;
    background: #eff0f1;
    border: none;
    color: #444444;
    font-size: 14px;
    height: 32px;
    margin: 0 3px;
}

.round-pagination .page-item.active .page-link {
    background: #ff9601;
    color: #ffffff;
}

.round-pagination .page-item.disabled .page-link {
    color: #aab1b4
}

.round-pagination .page-item .page-link:hover {
    background: #dadada;
}

.order-alert {
    padding: 20px;
    color: #fff;
    background: #ed1c24;
    margin-bottom: 20px;
}

.wizard-tabs-headings {
    display: none;
}

.tab-heading {
    text-decoration: none;
    color: #cbcbcb;
    width: 33.3%;
    text-align: center;
}

.tab-heading:hover {
    text-decoration: none;
    color: #cbcbcb;
}

.tab-heading .title {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 1;
}

.tab-heading .description {
    display: block;
    font-size: 14px;
}

.tab-heading.active {
    color: #000000;
}

.tab-heading.active .point-marker {
    background: #fd8924;
}

.tab-heading .point-marker {
    display: block;
    width: 14px;
    height: 14px;
    background: #cbcbcb;
    border-radius: 50%;
    margin: 20px auto 0;
    position: relative;
    z-index: 2
}

.wizard-tabs-headings .line {
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 78%;
    transform: translateX(-50%);
    height: 1px;
    background: #cbcbcb;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.order-controls {
    display: none;
}

.order-controls .control {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #888888;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 23px;
}

.order-controls .control:hover,
.order-controls .control.active:hover {
    color: #ff9601;
}

.order-controls .control.active {
    color: #000000;
    border-bottom: 1px dashed #000000;
}

.selected-products {
    margin: -24px -15px 0 -15px;
}

.selected-product {
    border-bottom: 1px solid #e7e8ea;
    padding: 12px;
    height: 170px;
}

.selected-product .delete-action-wrap {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product-info .delete {
    background: url(images/product-delete.png) 0 0 no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    background-size: cover;
}

.sel-price-wrap {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.product-count-action {
    display: none;
}

.product-count-action .input-counter {
    display: inline-block;
    margin-left: 12px;
}

.input-counter .counter-action {
    font-size: 13px;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    height: 19px;
    width: 19px;
    background: #424242;
    text-align: center;
    cursor: pointer;
}

.input-counter .counter-action:active {
    font-size: 9px;
}

.product-count-action .product-counter {
    background-color: #e7e8ea;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    height: 19px;
    width: 30px;
    padding: 0 2px;
    border: 0;
    text-align: center;

}

.product-count-action .product-counter:focus {
    outline: none;
}

.product-count-action .product-counter::-webkit-outer-spin-button,
.product-count-action .product-counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-information {
    background-color: #f9f9f9;
    border: 1px solid #e7e8ea;
    padding: 25px 12px;
    border-top: 0;
    white-space: nowrap;
}

.order-information .info {
    display: inline-block;
    font-size: 14px;
}

.order-information .info .number {
    font-size: 16px;
    font-weight: bold;
}

.order-checkout-wrap {
    margin: 24px 0;
    margin: 24px auto;
    text-align: center;
}

.order-checkout {
    background: #ff9601;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 50px;
    font-weight: 300;
}

button.order-checkout[disabled] {
    background: #ececec;
}

.icon-order {
    display: inline-block;
    width: 21px;
    height: 25px;
    vertical-align: middle;
    background: url(images/order.png) 0 0 no-repeat;
}

.forms-tab-heading {
    display: inline-block;
    white-space: nowrap;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #ededed;
    text-align: center;
    font-size: 13px;
    background: #eeeeee;
}

.forms-tab-headings {
    font-size: 0;
}

.forms-tab-heading.active {
    color: #ffffff;
    background: #fd8924;
    border-color: #fd8924;
}

.forms-tab-heading:hover {
    text-decoration: none;
    color: #000000;
}

.forms-tab-heading.active:hover {
    text-decoration: none;
    color: #ffffff;
}

.forms-tabs-content {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.tab-form .form-control {
    color: #555555;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    outline: none;
    height: 45px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 15px;
    font-weight: 300;
}

.tab-form select.form-control:not([size]):not([multiple]) {
    height: 45px;
    background: #dddddd;
}

.tab-form textarea.form-control {
    height: 80px;
}

.tab-form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.payment-method legend {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.payment-method .form-check {
    margin-bottom: 30px;
}

.payment-method .form-check-label {
    padding-left: 0;
    font-size: 13px;
}

.form-check-input.orange-check {
    visibility: hidden;
}

.form-check-input.orange-check + .show-icon {
    border: 1px solid #b9b9b9;
    height: 17px;
    width: 17px;
    line-height: 17px;
    overflow: hidden;
    display: inline-block;
    margin: 0 19px 0 0;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.form-check-input.orange-check:checked + .show-icon::after {
    background: #fd8924;
    height: 7px;
    width: 7px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin: 4px 0 0 4px;
    content: "";
}

.check-store legend {
    font-size: 14px;
}

.check-store .form-check {
    margin-bottom: 0;
}

.check-store .form-check-label {
    font-size: 13px;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 300;
}

.check-store .store-name {
    display: inline-block;
    font-weight: bold;
}

.check-store .store-address {
    display: block;
    color: #868686;
    font-size: 11px;
    padding-left: 39px;
}

.order-items {
    padding: 0;
}

.order-items, .order-form {
    margin: 0 -15px;
}

.order-items-title {
    display: block;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.order-items-table {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.order-items-table tr td {
    border: none;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 300;
    color: #000;
}

.order-items-table tr {
    border: none;
}

.order-total-price {
    font-size: 20px;
    line-height: 1;
}

.order-total-price .number {
    font-size: 28px;
    font-weight: bold;
}

.order-tool {
    padding: 40px 0 49px;
}

.order-tool .order-checkout {
    width: 100%;
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 0;
    cursor: pointer;
    background: #ffa800;
}

.order-confirmation .text {
    font-size: 18px;
    text-align: center;
}

.order-confirmation .orange-text {
    color: #fd8924;
}

.to-main {
    background: #fd8924;
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-50%);
}

.to-main:hover {
    text-decoration: none;
    color: #ffffff;
}

.body-toggle {
    padding-left: 80%;
    overflow-x: hidden;
    position: relative;
}

.wrapper {
    transition: linear .5s;
    position: static;
    left: 0;
    min-height: 100vh;
}

.wrapper-toggle {
    left: 80%;
    top: 0;
    position: fixed;
}

.wrapper.wrapper-toggle main {
    pointer-events: none;
}

.wrapper .container-fluid {
    padding: 0;
}

.aside {
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    width: 80%;
    overflow-x: hidden;
    top: 0;
    transition: linear .5s;
    left: 0;
}

.aside.hide {
    left: -100%;
}

.aside-search {
    background-color: #d57323;
    padding: 15px;
    position: fixed;
    z-index: 4;
    width: 80%;
    height: 74px;
}

.aside-input-group .input-group-addon {
    border: none;
    background-color: #ffffff;
}

.aside-input-group .form-control {
    border: none;
}

.aside-input-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

.icon-search-aside {
    display: inline-block;
    background: url(images/search_aside.png) 0 no-repeat;
    width: 32px;
    height: 31px;
}

.aside-menu {
    padding-top: 74px;
}

.aside-menu .list-group-item {
    text-decoration: none;
    color: #666666;
    font-weight: normal;
    font-size: 17px;
    padding: 20px;
}

.aside-menu .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.aside-menu .list-group-item.active {
    background-color: #ffffff;
    border-color: #d5d5d5;
    color: #ff9601;
}

.aside-menu .list-group-item:focus,
.aside-menu .list-group-item:hover {
    background: #ffffff;
}

.aside-collapse .list-group-item {
    padding-left: 25px;
    background-color: #f7f7f7;
}

.aside-collapse .list-group-item:hover {
    background-color: #f7f7f7;
}

.footer {
    width: 100%;
    /*height: 60px;*/
    /*line-height: 60px;*/
    border: 1px solid #cccccc;
    margin-top: 10px;
    color: #ffffff;
    background: #2b2b2b;
}

.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dark-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.dark-modal .modal-header,
.dark-modal .modal-footer {
    background-color: #424242;
    border-radius: 0;
    align-items: center;
}

.dark-modal .modal-close {
    background: url(images/modal-close.png) 0 0 no-repeat;
    width: 22px;
    height: 21px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 1;
}

.dark-modal .modal-close:focus {
    outline: none;
}

.dark-modal .modal-close:hover {
    background-position: 0 -21px;
    opacity: 1;
}

.dark-modal .modal-close:active {
    background-position: 0 -42px;
}

.dark-modal .modal-title {
    background-color: #424242;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.dark-modal .title:hover,
.dark-modal .link-more:hover {
    color: #555555;
}

.fast-show-modal {
    display: none;
}

.fast-show-modal .modal-content {
    border-radius: 0;
}

.fast-show-modal .modal-dialog {
    max-width: 1000px;
}

.fast-show-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.fast-show-image {
    position: relative;
    margin: 10px;
    text-align: center;
}

.fast-show-image .image-wrap {
    width: 300px;
    height: 300px;
    line-height: 300px;
    display: inline-block;
}

.fast-show-image .image {
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
    margin-top: 25px;
}

.fast-show-info {
    min-height: 500px;
    padding: 24px 0;
}

.fast-show-info .title {
    text-decoration: none;
    color: #000000;
    line-height: 33px;
    font-size: 21px;
    display: block;
}

.fast-show-info .properties-list {
    position: static;
    top: auto;
    transform: none;
}

.fast-show-info .properties-list .heading-wrap {
    margin-top: 16px;
    margin-bottom: 12px;
}

.fast-show-info .link-more {
    position: relative;
    margin-bottom: 24px;
    margin-top: 24px;
    color: #000000;
    text-decoration: underline;
    display: inline-block;
    padding: 0 5px;
}

.fast-show-modal .add-to-cart {
    width: 100%;
}

.basket-show-modal .modal-dialog {
    margin: 8% auto;
    max-width: 700px;
}

.basket-show-modal .login-modal-dialog {
    margin: 8% auto;
    max-width: 500px;
}

.basket-show-modal .modal-content {
    border: none;
}

.basket-show-modal .modal-footer {
    padding: 0;
}

.basket-show-image {
    position: relative;
    margin-left: 10px;
}

.basket-show-image .image-wrap {
    width: 100%;
    height: 250px;
    text-align: right;
    line-height: 250px;
    display: inline-block;
}

.basket-show-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.basket-show-info .total {
    font-weight: bold;
    padding: 15px 24px;
    font-size: 18px;
    background: #fbfbfb;
}

.basket-show-options {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
}

.basket-show-options .option {
    display: inline-block;
    transition: 0.1s all ease-in-out;
    line-height: 60px;
}

.basket-show-options .option:hover {
    background: #2b2b2b;
}

.basket-show-options .option.static-option {
    display: block;
    width: 71px;
    border-right: 1px solid #4c4c4c;
}

.basket-show-options .flex-options {
    display: inline-flex;
    flex-grow: 2;
    align-items: center;
}

.basket-show-options .flex-options .option {
    flex-grow: 1;
    text-align: center;
}

.basket-show-close {
    display: block;
    text-align: center;
}

.continue-shopping {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.continue-shopping:hover {
    color: #ffffff;
    text-decoration: none;
}

.go-to-cart {
    color: #ffffff;
    text-decoration: none;
    display: block;
    background: #ff9601;
}

.go-to-cart:hover {
    color: #ffffff;
    text-decoration: none;
    background: #ffa800;
}

.border-left {
    border-left: 1px solid #dcdcdc;
}

.popover-content {
    padding: 7px 7px 7px 7px;
    position: fixed;
    background: #ff9601;
    left: 24%;
    border-radius: 7px;
    z-index: 1000;
    color: white;
}

.popover-content a {
    text-decoration: none;
    color: white;
}

.popover-link:hover {
    color: black
}

.close-popover {
    display: inline-block;
    background: url(images/closeModef.png) 0 0 no-repeat;
    width: 19px;
    height: 12px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 1;
}

.handler {
    margin-top: 10px;
    background: #ff9601;
}

.handler .rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ff9601;
}

.handler .rc-slider-handle {
    position: absolute;
    margin-left: -14px;
    margin-top: -10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    border: solid 1px silver;
    background-color: #fff;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.shop-name {
    position: relative;
    top: -12px;
    color: black;
    text-align: center;
    font-size: 8px;
    width: 40px;
    z-index: 1000;
}

.map-container {
    width: auto;
    height: 800px;
}

.footer-map {
    width: auto;
    height: 100%;
    padding-bottom: 15px;
    padding-left: 20px;
}

.footer-map-container {
    width: 100%;
    height: 300px;
}

.footer .catalog {
    list-style: none;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
}

.catalog-item {
    position: relative;
    display: block;
    margin-bottom: 3px;
}

.catalog-item a {
    color: #9d9d9d;
    text-decoration: none;
}

.catalog-item:hover span {
    color: #FFA94A;
    text-decoration: none;
}

.footer-content {
    padding-top: 10px;
}

.footer .title {
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer-text {
    color: #9d9d9d;
    margin-top: 10px;
    padding: 10px;
}

.order-information .text {
    text-align: center;
    padding-right: 30px;
    float: right;
}

.footer-block {
    display: none;
}

.mobile-row {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}

.mobile-footer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
}

.call-order {
    flex-grow: 1;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(images/call.png) 0 0 no-repeat;
}

.mobile-view-phone-numbers {
    font-size: 1.8em;
    font-style: italic;
    text-align: right;
    display: inline-block;
    width: 225px;
}

.mobile-view-phone-numbers div {
    margin-bottom: 15px;
}

.authMenu {
    margin-bottom: 24px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #e7e8ea;
}

.personal-orders-header {
    padding: 10px;
    font-size: 1.5em;
}

.order-item {
    padding: 5px 0 5px 5px;
    cursor: pointer;
}

.order-number {
    width: 70%;
    height: auto;
    display: inline-block;
}

.order-product-details {
    padding: 0 0 5px 20px;
    width: 35%;
    border: 1px dashed silver;
    background: #d1d2b71f;
}

.order-product-details .price {
    position: relative;
    float: right;
    right: 20%;
}

.order-row {
    border-top: 1px solid lightgrey;
    width: 90%;
}

.order-row .order-total-price {
    display: inline-block;
    position: relative;
    left: 10%;
    padding-top: 10px;
    vertical-align: middle;
}

.login-phone-block input {
    width: 70%;
    position: relative;
    left: 41%;
    height: 40px;
    margin-top: 1em;
    top: 20px;
}

.login-button {
    position: relative;
    left: 26%;
    top: 20px;
}

.login-button button {
    margin-top: 20px;
    width: 50%;
}

.login-button span {
    display: block;
    margin-bottom: 20px;
}

.login-button input {
    margin-right: 5px;
}

.login-modal-dialog .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valid-code-error {
    position: relative;
    top: 18px;
    font-size: 0.8em;
    color: red;
    float: right;
}

.login-container {
    width: 50%;
    margin: auto;
}

.card-columns {
    column-count: 2;
}

.second-img {
    width: 50px;
    height: 50px;
    position: relative;
    left: -80%;
    top: 200px;
    border-radius: 5px;
}
.fast-show-image .image-wrap-large {
    height: auto;
    line-height: 300px;
    display: inline-block;
}
.product-menu-number {
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 1;
}
.flex-fill {
    flex: 1 1 auto;
}

.side-shop-image {
    width: 95%;
    /*height:  auto;*/
    padding-left: 12px;

}
.side-shop-title {
    position: relative;
    top: -25px;
    font-size: 20px;
    color: white;
    padding: 25px;
}
.side-shop-block {
    display: block;
}
.empty-cart {
    background: url(images/emptyCart.png) 0 0 no-repeat;
    width: 205px;
    height: 300px;
}

.tel-link {
    color: #9d9d9d;
    text-decoration: none;
}
.banner {
    transition: transform .5s;
}
.banner:hover {
    transform: scale(1.1);
}